---
BasedOnStyle: LLVM
---
Language: Cpp
IndentWidth: 4

ColumnLimit: 100

AllowShortEnumsOnASingleLine: False
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: None
# BreakBeforeConceptDeclarations: Always
AlwaysBreakTemplateDeclarations: true
# BreakBinaryOperations: Never only in clang-format 20

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak

InsertBraces: true

DerivePointerAlignment: false
PointerAlignment: Left

BinPackArguments: false
BinPackParameters: false

PackConstructorInitializers: CurrentLine
